  <div class="jumbotron text-center splash-ctnr">
        <h1 class="fade-in">HELPER</h1>
        <p class="fade-in">Keep Helping and Spread Smile!</p>
        <img src="icon/logo.png" id="icon" class="fade-in" >
    </div>