
	    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/"><strong>HeLpEr</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>Services</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/contact"><b>Contact Us</b></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about"><b>About</b></a>
                    </li>
                </ul>
                <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#Registration" style="top:10px;align:center;">
  
                         Registration
                 </button>
              <!--  <form class="form-inline" >
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light my-sm-0" type="submit">Search</button>
                </form>-->
                <div class="action">
                  <div class="profile" onclick="menuToggle();">
                    <img src="icon/scanner_20190317_122408.jpg">
                  </div>
                  <div class="menu">
                    <h3>Welcome<br><span>User</span></h3>
                    <ul>
                     <!--- <li><img src="../../icon/profile.png"><a href="#">My Profile</a></li>--->
                      {{!-- <li><img src="../../icon/edit.png"><a href="#">Edit Profile</a></li>
                      <li><img src="../../icon/inbox.png"><a href="#">Inbox</a></li>
                      <li><img src="../../icon/settings.png"><a href="#">Settings</a></li>
                      <li><img src="../../icon/help.png"><a href="#">Help</a></li> --}}
                      <li><img src="../../icon/logout.png"><a href="/register">Logout</a></li>
                    </ul>
                  </div>
                </div>
                
            </div>
        </nav>