<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project</title>
  <style>
    hr{
	width: 10%;
	height: 10px;
	background: #00bcd4;
	margin: auto;
	border: none;
	margin-top: -20px;
}
  </style>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
{{>header}}
</head>
<body>
{{>intro}}
{{>navbar}}
<main>
      <div class="heading">
        <h1>Our Services</h1>
      </div>
      <hr>
      <div class="services">
        {{>hm}}
      </div>
    </main><hr>
      
   
   {{>modal}}
{{>footer}}